body{
    margin:0;
}
p{
    margin:10px
}
.header{
    color:#95B8D1;
    text-align: center;
    font-family:'Lucida Sans';
    border-radius:20px;
    font-size:larger;
    }
.navigation ul{
    font-family:'Lucida Sans';
    font-size:smaller;
    background-color: #E8DDB5;
    list-style-type: none;
    margin:0;
    padding:20;
    overflow:hidden;
   }
.navigation a{
    color:#333333;
    text-decoration: none;
    text-align: center;
    display:block;
    padding:8px
}
.navigation li{
    float:left;
    
}
.navigation a:hover{
    color:#EDAFB8;
}
.image1{
    margin-top:20px;
    display:flex;
    justify-content:center;
}
.image1{
    height: 300px;
    clip-path: circle();
}
.paragraph{
    margin-top:20px;
    font-family:'Calibri';
    font-size:16px;
    text-align:left;
}
.footer{
    font-size:12px;
    font-family:'Calibri';
    text-align:center;
    margin-top:40px;
}
.subheader{
    font-size:14px;
    font-family:'Lucida Sans';
    color:#666A86;
    margin:10px;
    font-weight:bolder;
}
.table,th,td{
  border:2px solid #EDAFB8;
    font-size:14px;
    font-family:'Calibri';
    text-align:center;
    padding: 5px;
}
.table{
    width:50%;
     margin-left:auto;
    margin-right:auto;
    border-collapse:collapse;
}
#judy-schedule{
    font-size:16px;
    font-family:'calibri';
    color:#95B8D1;
    display:inline-block;
}

.list-photo ul{
    font-family:'Calibri';
    font-size:16px;
    text-align:left;
    float:left;
    padding-right:10px;
}
#breed-makeup{
    margin-top:20px;
    font-family:'Calibri';
    font-size:16px;
    text-align:left;
    font-weight:600;
    color:#666A86;
}